/* Réinitialisation de certains styles par défaut pour une apparence cohérente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style général du corps de la page */
  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: white;
    line-height: 1.6;
    overflow-x: hidden; /* Évite le défilement horizontal */
  }
  
  .animated-images {
    display: flex;
    justify-content: center; /* Centre les images horizontalement */
    flex-wrap: wrap; /* Permet aux images de passer à la ligne si nécessaire */
    margin-bottom: 20px;

  }
  
  .animated-images .image-wrapper {
    display: flex;
    flex-direction: column; /* Aligne le texte au-dessus ou en dessous des images */
    align-items: center; /* Centre le texte et les images horizontalement */
    margin: 10px; /* Ajoute de l'espace autour de chaque image */
  }
  
  .animated-images img {
    max-width: 75%; /* Ajuste la largeur maximale de l'image au conteneur parent */
    max-height: 75%; /* Définit une hauteur maximale pour l'image (ajuste selon tes besoins) */
    height: auto; /* Maintient le ratio de l'image */
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .animated-images img:hover {
    transform: scale(1.1);
  }
  
      
    
  /* Style de la navigation */
nav {
    text-align: center;
    background-color: #ff9a9e;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  nav:hover {
    background-color:black;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s;
  }
  
  nav a:hover {
    color: #ff9a9e;
    transform: scale(1.1);
  }

  .gallery {
    padding: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}

.gallery h1 {
    text-align: center;
    margin-bottom: 20px;
}

.image-grid {
    display: inline-table;
    animation: scroll 90s infinite;
}

.image-grid img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    display: inline-table;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
  
  /* Conteneur pour le contenu principal */
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style des titres */
  h1 {
    color: hsla(240, 39%, 5%, 0.87);;
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out;
  }
  
  h2 {
    color: hsla(240, 92%, 41%, 0.764);
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease-out;
  }
  
  /* Style des paragraphes */
  p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.8;
  }
  
  /* Animation des titres */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Footer */
  footer {
    background-color: #ff9a9e; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid #f9f9f9;
  }
  
  .footer-content {
    margin: 0 20px;
  }
  
  .footer-content h2 {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
  }
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  /* Social media icons styling */
  .social-icon {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Lato', sans-serif;
  }
  
  .social-icon:hover {
    text-decoration: underline;
  }
  
  /* Footer bottom text styling */
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    border-top: 1px solid #f9f9f9;
    padding-top: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header img {
      width: 120px;
    }
    
    .container {
      padding: 15px;
    }
    
    nav a {
      padding: 8px 15px;
    }
    
    h1 {
      font-size: 2rem;
    }
    
    h2 {
      font-size: 1.5rem;
    }
    
    p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    header img {
      width: 100px;
    }
    
    .container {
      padding: 10px;
    }
    
    nav a {
      padding: 6px 10px;
    }
    
    h1 {
      font-size: 1.5rem;
    }
    
    h2 {
      font-size: 1.25rem;
    }
    
    p {
      font-size: 0.8rem;
    }
  }
  
  #lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }